# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/

# Build artifacts
build/
dist/

# Virtual environments
venv/

# Ignore all dot folders except .github
.*/
!.github/

# Folders
tmp/
